* {
  margin: 0px;
  padding: 0px;
}
h1 {
  text-align: center;
  font-weight: lighter;
  padding-bottom: 20px;
  padding-top: 30px;
  font-family: 'Raleway', sans-serif;
}
.loned3vil_logo {
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  font-weight: lighter;
  font-size: 18px;
  color: black;
  padding-top: 40px;
  padding-left: 20px;
}
.adb_hacking_video {
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  font-family: 'Quicksand', sans-serif;
}
.adbvideo_embed {
  font-size: 20px;
  font-weight: lighter;
  font-family: 'Raleway', sans-serif;
  padding-left: 20px;
  padding-top: 20px;
}
.adbvideo {
  margin-left: 34%;
  margin-top: 2%;
}
.eviltwin_embed {
  font-size: 20px;
  font-weight: lighter;
  font-family: 'Raleway', sans-serif;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 5px;
}
.eviltwinvideo {
  align-items: center;
  margin-left: 34%;
  margin-top: 2%;
}
.crack_password_linux_embed {
  font-size: 20px;
  font-weight: lighter;
  font-family: 'Raleway', sans-serif;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 5px;
}
.linuxpasscrackvideo {
  align-items: center;
  margin-left: 34%;
  margin-top: 2%;
}
.gaming_channel_info {
  text-align: center;
  font-size: 20px;
  font-weight: lighter;
  font-family: 'Quicksand', sans-serif;
  padding-bottom: 10px;
}
.lonexd3vilpubgintro {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 5px;
}
.lonexd3vilpubgintrovideo {
  align-items: center;
  margin-left: 34%;
  margin-top: 2%;
}
.snipingislove {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 5px;
}
.snipingislove_video {
  align-items: center;
  margin-left: 34%;
  margin-top: 2%
}
.lastwords {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  padding-left: 20px;
  padding-top: 30px;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 20px;
}
.Hacking_channel_button {
  padding-bottom: 10px;
  font-family: consolas;
  padding-left: 10px;
}
.Gaming_channel_button {
  padding-bottom: 10px;
  font-family: consolas;
  padding-left: 10px;
}
.Hacking_channel_button a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  transition: 0.2s;
  margin-left: 40%;
}
.Gaming_channel_button a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  transition: 0.2s;
  margin-left: 40.3%;
  letter-spacing: 2px;
}
.Hacking_channel_button a:hover {
  color: white;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3,
}
.Gaming_channel_button a:hover {
  color: white;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3,
}