@media only screen and (max-width: 770px) {
	.adbvideo {
		margin-left: 25%;
	}
	.eviltwinvideo {
		margin-left: 25%;
	}
	.linuxpasscrackvideo {
		margin-left: 25%;
	}
}
@media only screen and (max-width: 500px) {
	h1 {
		font-size: 18px;
		text-align: center;
		padding-top: 30px;
	}
	.adb_hacking_video {
		font-size: 15px;
		text-align: left;
		padding-left: 15px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.adbvideo_embed {
		font-size: 16px;
		text-align: left;
		padding-left: 10px;
		padding-bottom: 10px;
	}
	.eviltwin_embed {
		font-size: 16px;
		text-align: left;
	}
	.crack_password_linux_embed {
		font-size: 16px;
		text-align: left;
	}
	.adbvideo {
		margin-left: 7%;
		margin-top: 2%;
	}
	.eviltwinvideo {
		margin-left: 7%;
		margin-top: 2%;
	}
	.linuxpasscrackvideo {
		margin-left: 7%;
		margin-top: 2%;
	}
	.gaming_channel_info {
		font-size: 15px;
		text-align: left;
		padding-left: 15px;
		padding-top: 15px;
		padding-bottom: 15px
	}
	.lonexd3vilpubgintro {
		font-size: 16px;
		text-align: left;
	}
	.lonexd3vilpubgintrovideo {
		margin-left: 7%;
		margin-top: 2%;
	}
	.snipingislove {
		font-size: 16px;
		text-align: left;
	}
	.snipingislove_video {
		margin-left: 7%;
		margin-top: 2%;
	}
	.lastwords {
		font-size: 18px;
		text-align: center;
	}
	.Hacking_channel_button {
		text-align: left;
		margin-right: 23%;
	}
	.Hacking_channel_button a {
		font-size: 12px;
		padding-left: 35px;
		letter-spacing: 0px;
	}
	.Gaming_channel_button {
		text-align: left;
		margin-right: 23%;
	}
	.Gaming_channel_button a {
		font-size: 12px;
		padding-left: 35px;
		letter-spacing: 0px;
	}

