@media only screen and (max-width: 480px) {

.border {
	margin-right: 56.5%;
  	width: 160px;
 	height: 3px;
	margin-bottom: 20px;
 }
 .team-section .border {
	 margin-right: 25%;
 }
}
@@media only screen and (max-width: 716px) {

}

/* smaller phones to smaller tablets: from 481px to 767px */
@@media only screen and (max-width: 767px) {
.name {
	text-align: center;
	margin-right: 45%;
 }
}

/* smaller tablets to big tablets: from 768px to 1023px */
@@media only screen and (max-width: 1023px) {

}

/* Big tablet to 1200px (width smaller than the 1140px row) */
@@media only screen and (max-width: 1200px) {

}
