@media only screen and (max-width: 360px) {
	.header_menu {
		font-size: 14px;
	}
	.lonexd3vil_logo {
		font-size: 15px;
	}
	.description_welcome {
 	font-size: 12px;
 	padding-left: 5px;
 	padding-right: 5px;
 }
	.youtube_hacking_channel_button button {
 	margin-top: 5%;
 }
 	.youtube_gaming_channel_button button {
 	margin-top: 5%;
 }
 	.team-section h1 {
 	font-size: 25px;
 }
 	.h1 {
 		margin-bottom: 10%;
 	}
}

@media only screen and (max-width: 480px) {
 .description_welcome {
 	font-size: 15px;
 	padding-left: 5px;
 	padding-right: 5px;
 }
 .team-section .border {
	 margin-right: 25%;
 }
  .team-section h1 {
  	font-size: 28px;
  }
  .youtube_short_films_channel_button {
  	font-size: 20px;
  }
}
@@media only screen and (max-width: 716px) {

}

/* smaller phones to smaller tablets: from 481px to 767px */
@@media only screen and (max-width: 767px) {
.name {
	text-align: center;
	margin-right: 45%;
 }
}

/* smaller tablets to big tablets: from 768px to 1023px */
@@media only screen and (max-width: 1023px) {

}

/* Big tablet to 1200px (width smaller than the 1140px row) */
@@media only screen and (max-width: 1200px) {

}
