@media only screen and (max-width: 360px) {
	.lonexd3vil_logo {
		font-size: 18px;
		padding-bottom: 2%;
	}
	.welcome {
		font-size: 13px;
		margin-left: 3%;
		text-align: center;
	}
	.line1 {
		font-size: 12px;
		margin-left: 2%;
		text-align: center;
		margin-right: 2%;
	}
	.headofparaone {
		font-size: 15px;
		margin-top: 7%;
	}
	.pointstart {
		font-size: 13px;
		margin-left: 3%;
	}
	.worksection_heading {
		font-size: 20px;
	}
	.column {
		width: 80%;
		height: auto;
		margin-left: 10%;
		padding: 13px;
	}
	.description_fiverr {
		font-size: 15px;
		text-align: center;
	}
	.fiverr_button {
		margin-top: 7%;
		margin-bottom: 7%;
	}
	.fiverr_button a {
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.store-heading {
		font-size: 20px;
		padding-top: 30px;
	}
	.storefronts {
		width: 80%;
		height: auto;
		margin-left: 10%;
		padding: 13px;
	}
	.storefronts img {
		width: 100%;
		height: auto
	}
	.shop_button {
		margin-top: 10%;
		margin-bottom: 10%;
		font-size: 15px;
	}
	.shop_button a {
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.heading_sec1_socieal_media {
		font-size: 20px;
		margin-top: 5%;
	}
	.media_sec {
		margin-bottom: 2%;
		font-size: 15px;
	}
	.imageone {
		margin-top: 2%;
		margin-left: 20%;
		padding-bottom: 10px;
	}
	.imageone img {
		width: 200%;
		height: auto;
	}
	.footer {
		margin-top: 0%; 
	}
	.foot-line-1 {
		font-size: 10px;
	}
	.foot-line-2 {
		font-size: 12px;
		margin-bottom: 5%;
	}
	.cpright {
		font-size: 10px;
		margin-top: 3%;
	}
}

@media only screen and (max-width: 480px) {
	.lonexd3vil_logo {
		font-size: 18px;
		padding-bottom: 2%;
	}
	.welcome {
		font-size: 15px;
		margin-left: 3%;
		text-align: center;
	}
	.line1 {
		font-size: 14px;
		margin-left: 2%;
		text-align: center;
		margin-right: 2%;
	}
	.headofparaone {
		font-size: 16px;
		margin-top: 5%;
	}
	.pointstart {
		font-size: 14px;
		margin-left: 3%;
	}
	.worksection_heading {
		font-size: 22px;
	}
	.column {
		width: 80%;
		height: auto;
		margin-left: 10%;
		padding: 13px;
	}
	.description_fiverr {
		font-size: 15px;
		text-align: center;
		margin-bottom: 12%;
	}
	.fiverr_button {
		margin-bottom: 10%;
		font-size: 15px;
	}
	.fiverr_button a {
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.store-heading {
		font-size: 20px;
		padding-top: 5%;
	}
	.storefronts {
		width: 80%;
		height: auto;
		margin-left: 10%;
		padding: 15px;
	}
	.storefronts img {
		width: 100%;
		height: auto
	}
	.shop_button {
		margin-top: 10%;
		margin-bottom: 10%;
		font-size: 15px;
	}
	.shop_button a {
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.heading_sec1_socieal_media {
		font-size: 20px;
		margin-top: 5%;
	}
	.media_sec {
		margin-bottom: 2%;
		font-size: 15px;
	}
	.imageone {
		margin-top: 2%;
		margin-left: 16%;
		padding-bottom: 10px;
	}
	.imageone img {
		width: 230%;
		height: auto;
	}
	.footer {
		margin-top: 0%; 
	}
	.foot-line-1 {
		font-size: 10px;
	}
	.foot-line-2 {
		font-size: 12px;
		margin-bottom: 5%;
	}
	.cpright {
		font-size: 10px;
		margin-top: 3%;
	}
}

@media only screen and (max-width: 716px) {
	.lonexd3vil_logo {
		font-size: 18px;
		padding-bottom: 2%;
	}
	.welcome {
		font-size: 15px;
		margin-left: 3%;
		text-align: center;
	}
	.line1 {
		font-size: 14px;
		margin-left: 2%;
		text-align: center;
		margin-right: 2%;
	}
	.headofparaone {
		font-size: 16px;
		margin-top: 5%;
	}
	.pointstart {
		font-size: 14px;
		margin-left: 3%;
	}
	.worksection_heading {
		font-size: 22px;
	}
	.column {
		width: 80%;
		height: auto;
		margin-left: 10%;
		padding: 13px;
	}
	.description_fiverr {
		font-size: 15px;
		text-align: center;
	}
	.fiverr_button {
		margin-top: 5%;
		margin-bottom: 5%;
		font-size: 15px;
	}
	.fiverr_button a {
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.store-heading {
		font-size: 20px;
	}
	.storefronts {
		width: 80%;
		height: auto;
		margin-left: 18%;
		padding: 15px;
	}
	.storefronts img {
		width: 80%;
		height: auto
	}
	.shop_button {
		margin-top: 7%;
		margin-bottom: 10%;
		font-size: 15px;
	}
	.shop_button a {
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.heading_sec1_socieal_media {
		font-size: 20px;
		margin-top: 5%;
	}
	.media_sec {
		margin-bottom: 2%;
		font-size: 15px;
	}
	.imageone {
		margin-top: 2%;
		margin-left: 16%;
		padding-bottom: 10px;
	}
	.imageone img {
		width: 230%;
		height: auto;
	}
	.footer {
		margin-top: 0%; 
	}
	.footer {
		margin-top: 1%; 
	}
	.foot-line-1 {
		font-size: 10px;
	}
	.foot-line-2 {
		font-size: 12px;
		margin-bottom: 5%;
	}
	.cpright {
		font-size: 10px;
		margin-top: 3%;
	}
}

@media only screen and (max-width: 767px) {
	.lonexd3vil_logo {
		font-size: 18px;
		padding-bottom: 2%;
	}
	.welcome {
		font-size: 15px;
		margin-left: 3%;
		text-align: center;
	}
	.line1 {
		font-size: 14px;
		margin-left: 2%;
		text-align: center;
		margin-right: 2%;
	}
	.headofparaone {
		font-size: 16px;
		margin-top: 5%;
	}
	.pointstart {
		font-size: 14px;
		margin-left: 3%;
	}
	.worksection_heading {
		font-size: 22px;
	}
	.column {
		width: 80%;
		height: auto;
		margin-left: 10%;
		padding: 13px;
	}
	.description_fiverr {
		font-size: 15px;
		text-align: center;
	}
	.fiverr_button {
		margin-top: 5%;
		margin-bottom: 5%;
		font-size: 15px;
	}
	.fiverr_button a {
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.store-heading {
		font-size: 20px;
		margin-top: 5%;
	}
	.storefronts {
		width: 80%;
		height: auto;
		margin-left: 18%;
		padding: 15px;
	}
	.storefronts img {
		width: 80%;
		height: auto
	}
	.shop_button {
		margin-top: 7%;
		margin-bottom: 10%;
		font-size: 15px;
	}
	.shop_button a {
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.heading_sec1_socieal_media {
		font-size: 20px;
		margin-top: 5%;
	}
	.media_sec {
		margin-bottom: 2%;
		font-size: 15px;
	}
	.imageone {
		margin-top: 2%;
		margin-left: 16%;
		padding-bottom: 10px;
	}
	.imageone img {
		width: 230%;
		height: auto;
	}
	.footer {
		margin-top: 0%; 
	}
	.footer {
		margin-top: 3%; 
	}
	.foot-line-1 {
		font-size: 10px;
	}
	.foot-line-2 {
		font-size: 12px;
		margin-bottom: 5%;
	}
	.cpright {
		font-size: 10px;
		margin-top: 3%;
	}
}