*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
header{
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  padding-bottom: 2%;
}
.lonexd3vil_logo{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-weight: lighter;
  font-size: 18px;
  color: black;
  padding-top: 15px;
}
.column {
  float: left;
  width: 30%;
  padding: 10px;
  margin-left: 2%;
}
.column img:hover {
  -webkit-box-shadow: 0 0 30px teal;
  box-shadow: 0 0 30px teal;
  transition: .3s;
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
  transition: .3s;
  cursor: pointer;
}
/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.storefronts {
  float: left;
  width: 30%;
  padding: 10px;
  margin-left: 2%;
  
}
.storefronts img {
  width: 380px;
  height: 380px;
}
.storefronts img:hover {
  -webkit-box-shadow: 0 0 30px teal;
  box-shadow: 0 0 30px teal;
  transition: .3s;
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
  transition: .3s;
  cursor: pointer;
}
.slot::after {
  content: "";
  clear: both;
  display: table;
}
.welcome {
  color: black;
  font-family: 'Raleway', sans-serif;
  margin-left: 37%;
  padding-top: 50px;
  margin-top: 2%;
}
.line1 {
  padding-top: 10px;
  margin-left: -20%;
}
.headofparaone {
  font-family: 'Montserrat', sans-serif;
  margin-left: 3%;
  margin-top: 2%;
}
.pointstart {
  font-family: 'KoHo', sans-serif;
  letter-spacing: 1.5px;
  padding-left: 7%;
  margin-top: 2%;
}
.worksection_heading {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin-top: 5%;
  font-size: 30px;
  margin-bottom: 3%;
}
.fiverrgigimage {
  margin-left: 1%;
  margin-top: 5%;
}
.fiverr_button {
   font-family: 'Quicksand', sans-serif;
   text-align: center;
   margin-bottom: 3%;
   margin-top: 3%;
   font-weight: bold;
   letter-spacing: 1px;
   text-decoration: none;
}
.fiverr_button a {
  border: 1px solid grey;
  border-radius: 7px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.fiverr_button a:hover {
  color: green;
  -webkit-box-shadow: 0 0 30px lightblue;
  box-shadow: 0 0 30px lightblue;
  transition: .5s;
}
.description_fiverr {
  font-family: 'Montserrat', sans-serif;
  margin-left: 3%;
  margin-top: 2%;
}
.store-heading {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin-top: 5%;
  font-size: 30px;
  margin-bottom: 3%;
}
.shop_button {
  font-family: 'Quicksand', sans-serif;
   text-align: center;
   margin-bottom: 5%;
   margin-top: 4%;
   font-weight: bold;
   letter-spacing: 1px;
   text-decoration: none;
}
.shop_button a {
  border: 1px solid grey;
  border-radius: 7px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.shop_button a:hover {
  color: green;
  -webkit-box-shadow: 0 0 30px lightblue;
  box-shadow: 0 0 30px lightblue;
  transition: .5s;
}
.sec-part2-para1 {
  font-family: 'Raleway', sans-serif;
  margin-left: 3%;
}
.main-showcase-editing-skills {
   font-family: 'Raleway', sans-serif;
   margin-left: 3%;
}
.head_gaming_sec {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-size: 30px;
  margin-top: 2%;
}
.head_motivation_sec {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-size: 30px;
  margin-top: 1%;
  margin-bottom: 2%;
}
.video-number-1 {
  margin-left: 30%;
  margin-top: 2%;
  margin-bottom: 1%;
}
.link-for-video-one {
  margin-left: 18%;
  margin-top: 1%;
  font-family: 'Raleway', sans-serif;
}
.video-number-2 {
  margin-left: 30%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.link-for-video-two {
  margin-left: 18%;
  margin-top: 1%;
  font-family: 'Raleway', sans-serif;
}
.video-motivation-one {
  margin-left: 30%;
  margin-top: 1%;
  margin-bottom: 1%; 
}
.link-for-motivation-one {
   margin-left: 18%;
  margin-top: 1%;
  font-family: 'Raleway', sans-serif;
}
.link-for-video-two a:hover {
  color: red;
  transition: 0.4s;
}
.link-for-motivation-one a:hover {
  color: red;
  transition: 0.4s;
}
.link-for-video-one a:hover {
  color: red;
  transition: 0.4s;
}
.blackhoddie {
  margin-left: 10%;
}
.white-hoddie-text {
  font-family: 'Raleway', sans-serif;
  margin-left: 2%;
}
.sec-part3-para1 {
  font-family: 'Raleway', sans-serif;
  margin-left: 3%;
  margin-top: 4%;
  margin-bottom: 2%;
}
.heading_sec1_socieal_media {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  margin-top: 5%;
  margin-bottom: 4%;
}
.lonexd3vil {
  float: left;
  position: relative;
  padding: 5px;
  margin-bottom: 1%;
  margin-left: 25%;
  margin-top: 2%;
  margin-right: 5%;
  display: inline-block;
}
.lonexd3vil img {
  border-radius: 50%;
  opacity: 1;
  display: inline-block;
  width: 350px;
  height: 350px;
}
.instagram {
  font-family: 'Raleway', sans-serif;;
  margin-bottom: 2%;
}
.twitter {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 2%;
}
.github {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 2%;
}
.youtube {
  font-family: 'Raleway', sans-serif;
}
.instagram a:hover {
  color: red;
}
.twitter a:hover {
  color: red;
}
.github a:hover {
  color: red;
}
.youtube a:hover {
  color: red;
}
.media_sec {
  margin-top: 15%;
  letter-spacing: 1px;
}
.footer {
  margin-top: 10%;
  background: black;
}
.foot-line-1 {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid black;
  padding-top: 60px;
  padding-bottom: 10px;
  color: white;
  letter-spacing: 1px;
}
.foot-line-2 {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid black;
  color: white;
  letter-spacing: 1px;
  font-size: 14px;
}
.cpright {
  font-family: 'Raleway', sans-serif;
  color: white;
  text-align: right;
  margin-right: 1%;
  padding-bottom: 1%;
}