*{
  padding: 0px;
  margin: 0px;
}
header{
  width: 100%;
  height: 100vh;
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Open Sans', sans-serif;
}
.lonexd3vil_logo{
  padding: 15px;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  font-weight: lighter;
  font-size: 18px;
  color: black;
  padding-top: 22px;
  padding-left: 20px;
}
.header_menu{
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
}
.header_content{
  color: black;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 18px;
  padding-top: 30px;
}
.description_welcome{
  color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  padding-top: 20px;
  padding-left: 5px;
  text-align: center;
}
.youtube_hacking_channel_button button{
  position: absolute;
  top: 60%;
  left: 50%;
}
.youtube_short_films_channel_button button{
  position: absolute;
  top: 75.5%;
  left: 50%;
  font-size: 12px;
}
button {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}
button {
  background: none;
  color: black;
  width: 180px;
  height: 60px;
  border: 1px solid #338033;
  font-size: 25;
  border-radius: 2px;
  transition: .4s;
  overflow: hidden;
  text-decoration: none;
  letter-spacing: 1px;
}
button:focus {
  outline: none;
  text-decoration: none;
}
button:before {
  content: '';
  display: block;
  position: absolute;
  background: rgba(255.255.255..5);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: .5s;
  filter: blur(30px);
  transform: translateX(-130px) skewX(-15deg);
}
button:after {
  content: ; '';
  display: block;
  position: absolute;
  background: rgba(255,255,255,.2);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  filter: blur(30px);
  transform: translate(-100px) scaleX(-15deg);
}
button:hover {
  background:  teal;
  cursor: pointer;
}
button:hover:before {
  transform: translateX(300px) skewX(-15deg);
  opacity: .6;
  transition: .7s;
}
button:hover:after {
  transform: translateX(300px) skewX(-15deg);
  opacity: .1;
  transition: .7s;
  color: white;
}
.menu_list{
  width: 100%;
  text-align: right;
  padding-right: 30px;
}
.menu_list li{
  display: inline-block;
  text-transform: uppercase;
  list-style: none;
  letter-spacing: 1px;
  padding-left: 20px;
}
.menu_list li a{
  color: black;
  text-decoration: none;
}
.menu_list li a:hover{
  color: teal;
}
img {
  height: 50%;
  width: 50vh;
}
h1 {
  margin-bottom: 1%;
  padding-top: 10px;
  text-align: center;
  font-weight: 500;
}
.team-section {
  overflow: hidden;
  text-align: center;
  padding: 30px;
}
.team-section h1 {
  text-transform: uppercase;
  color: black;
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
.team {
  margin-bottom: 40px;
}
.team a {
  display: inline-block;
  margin: 0 30px;
  width: 160px;
  height: 160px;
  overflow: hidden;
  border-radius: 50%;
  margin: 20px;
}
.team a img {
  width: 100%;
  height: 100%;
  align-items: left;
}
.loneheading {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.social-buttons {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.social-buttons a {
  text-decoration: none;
  font-size: 30px;
  width: 60px;
  height: 60px;
  color: black;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}
.social-buttons a::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: -1;
}
