* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
header {
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  padding-bottom: 2%;
}
.lonexd3vil_logo {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-weight: 200;
  font-size: 18px;
  color: black;
  padding-top: 15px;
  letter-spacing: 5px;
}
.column {
  float: left;
  width: 30%;
  padding: 10px;
  margin-left: 2%;
}
.column img:hover {
  -webkit-box-shadow: 0 0 35px black;
  box-shadow: 0 0 35px black;
  transition: 0.5s;
  -ms-transform: scale(1.15); /* IE 9 */
  -webkit-transform: scale(1.15); /* Safari 3-8 */
  transform: scale(1.15);
  transition: 0.5s;
  cursor: pointer;
}
/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.storefronts {
  float: left;
  width: 30%;
  padding: 10px;
  margin-left: 2%;
}
.storefronts img {
  width: 380px;
  height: 380px;
}
.storefronts img:hover {
  -webkit-box-shadow: 0 0 40px black;
  box-shadow: 0 0 40px black;
  transition: 0.7s;
  -ms-transform: scale(1.15); /* IE 9 */
  -webkit-transform: scale(1.15); /* Safari 3-8 */
  transform: scale(1.15);
  transition: 0.7s;
  cursor: pointer;
}
.slot::after {
  content: "";
  clear: both;
  display: table;
}
.welcome {
  color: black;
  font-family: "Raleway", sans-serif;
  margin-left: 37%;
  padding-top: 50px;
  margin-top: 2%;
}
.line1 {
  padding-top: 10px;
  margin-left: -20%;
}
.headofparaone {
  font-family: "Montserrat", sans-serif;
  margin-left: 3%;
  margin-top: 2%;
}
.pointstart {
  font-family: "KoHo", sans-serif;
  letter-spacing: 1.5px;
  padding-left: 7%;
  margin-top: 2%;
}
.worksection_heading {
  text-align: center;
  font-family: "Raleway", sans-serif;
  margin-top: 5%;
  font-size: 30px;
  margin-bottom: 3%;
}
.fiverrgigimage {
  margin-left: 1%;
  margin-top: 5%;
}
.fiverr_button {
  font-family: "Quicksand", sans-serif;
  color: green;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 5%;
  font-weight: bolder;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}
.fiverr_button a {
  border: 1px solid teal;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.fiverr_button a:hover {
  transition: 0.5s;
  color: white;
  background-color: teal;
}
.description_fiverr {
  font-family: "Montserrat", sans-serif;
  margin-left: 3%;
  margin-top: 2%;
}
.site-projects {
  font-family: "Raleway", sans-serif;
  text-align: center;
}
.site-projects-head {
  text-align: center;
  font-family: "Raleway", sans-serif;
  margin-top: 5%;
  font-size: 30px;
  margin-bottom: 2%;
}
.projects-sec-context {
  font-size: 17px;
  margin-bottom: 1%;
  letter-spacing: 2px;
}
.site-projects img {
  width: 100%;
  height: auto;
  margin-bottom: 3%;
}
.anime-arena_button {
  font-family: "Quicksand", sans-serif;
  color: green;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 3%;
  font-weight: bolder;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}
.anime-arena_button a {
  border: 1px solid teal;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.anime-arena_button a:hover {
  transition: 0.5s;
  color: white;
  background-color: teal;
}
.store-heading {
  text-align: center;
  font-family: "Raleway", sans-serif;
  margin-top: 5%;
  font-size: 30px;
  margin-bottom: 3%;
}
.shop_button {
  font-family: "Quicksand", sans-serif;
  color: green;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 3%;
  font-weight: bolder;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}
.shop_button a {
  border: 1px solid teal;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.shop_button a:hover {
  transition: 0.5s;
  color: white;
  background-color: teal;
}
.blackhoddie {
  margin-left: 10%;
}
.white-hoddie-text {
  font-family: "Raleway", sans-serif;
  margin-left: 2%;
}
.heading_sec1_socieal_media {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  margin-top: 5%;
  margin-bottom: 4%;
}
.imageone {
  width: 30%;
}
.imageone img {
  border-radius: 50%;
  margin-left: 117%;
}
.social-media-links {
  text-align: center;
  margin-top: 1%;
}
.social-media-links img {
  width: 3%;
  height: auto;
}
.social-media-links img:hover {
  opacity: 0.6;
  transition: 0.3s ease-in-out;
}
.insta {
  margin-left: 20px;
}
.twitter {
  margin-left: 20px;
}
.github {
  margin-left: 20px;
}
.telegram {
  margin-left: 20px;
}
.youtube {
  margin-left: 20px;
}
.footer {
  margin-top: 3%;
  background: black;
}
.foot-line-1 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid black;
  padding-top: 60px;
  padding-bottom: 10px;
  color: white;
  letter-spacing: 1px;
}
.foot-line-2 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid black;
  color: white;
  letter-spacing: 1px;
  font-size: 14px;
}
.cpright {
  font-family: "Raleway", sans-serif;
  color: white;
  text-align: right;
  margin-right: 1%;
  padding-bottom: 1%;
}
